

/*
SETTINGS
*/

// overwrite default setting
$inuit-base-background-color: #f6f6f6;
$inuit-base-text-color: #434a54;
@import "../../../bower_components/inuit-defaults/settings.defaults";
@import "../../../bower_components/inuit-responsive-settings/settings.responsive";
@import "ui/settings.fontstack";
@import "ui/settings.colors";

/*
TOOLS
*/
@import "../../../bower_components/inuit-functions/tools.functions";
@import "../../../bower_components/inuit-mixins/tools.mixins";
@import "ui/tools.mixins";
$inuit-responsive-settings: true;
@import "../../../bower_components/inuit-responsive-tools/tools.responsive";


/*
GENERICS
*/
@import "../../../bower_components/inuit-normalize/generic.normalize";
@import "../../../bower_components/inuit-reset/generic.reset";
@import "../../../bower_components/inuit-box-sizing/generic.box-sizing";
@import "../../../bower_components/inuit-clearfix/trumps.clearfix";
@import "../../../bower_components/inuit-shared/generic.shared";

/*
OBJECTS
*/
@import "../../../bower_components/inuit-layout/objects.layout";
$inuit-btn-background: #82BF56;
$inuit-btn-radius: 4px;
$inuit-enable-btn--small: true;
@import "../../../bower_components/inuit-buttons/objects.buttons";
$inuit-enable-media--small: true;
$inuit-enable-media--rev: true;
@import "../../../bower_components/inuit-media/objects.media";
@import "../../../bower_components/inuit-list-bare/objects.list-bare";
@import "../../../bower_components/inuit-list-inline/objects.list-inline";
@import "ui/objects.list-ui";


/*
BASE
*/
@import "../../../bower_components/inuit-page/base.page";
@import "../../../bower_components/inuit-headings/base.headings";
@import "../../../bower_components/inuit-images/base.images";
@import "ui/base.type";
@import "ui/base.links";
@import "ui/base.images";
@import "ui/base.forms";

// BET ui
@import "ui/objects.wrappers";

/*
COMPONENTS
*/
@import "ui/components.site-header";
@import "ui/components.site-footer";
@import "ui/components.site-nav";
@import "ui/components.address-book";
@import "ui/components.icons-fonts";
@import "ui/components.buttons";
@import "ui/components.box";


/*
WIDTHS
*/
$inuit-use-fractions:   false;
@import "../../../bower_components/inuit-widths/trumps.widths";
@import "ui/trumps.widths-responsive";
$inuit-enable-margins: true;
$inuit-enable-margins--none: true;
$inuit-enable-margins--small: true;
@import "../../../bower_components/inuit-spacing/trumps.spacing";