<h1>About</h1>
<p>For the moment, I've only created a static version of the application, the source are on <a
        href="https://github.com/dmao/bet">GitHub</a> under the app folder. This application is
    <strong>responsive</strong>.</p>
<h2>Development</h2>
<p>I've used Yeoman to create the structure of the application. <br/>
    But I've put images and css under a folder named <em>assets</em> <br/>
    Yeoman come with Grunt, so multiple tasks are automatic :<br/>
    Compilation of the sass files, Live reload is active, so you don't need to reload the browser to see the
    modifications after writing js or css
    <br/>
    The js files are watched with jshint, to get informed about the errors.
</p>
<h2>Build</h2>
<p>
    When you build your application, the js files are concatened and minified, to increase the performance.
    <br/>The css file is also minified and there is a <em>.htaccess</em> file (from the <a
        href="http://html5boilerplate.com/" target="_blank">html5 boilerplate</a>) to do some optimisation, and serve
    the files gzipped.
    <br/>
    This html5 boilerplate is used by Yeoman to create the index.html page.
</p>
<p>The build phase is also the moment where you run the javascript test, Yeoman come with <a
        href="http://karma-runner.github.io/0.12/index.html" target="_blank">Karma</a>.</p>
<h2>CSS</h2>
<p>The css file is create with a framework named inuit.css <br/>
    Unlike Bootstrap, there's no style inside, so you have to create the design that you want.
    The css file is versioned with grunt at the build, so this file is considered as new, and not served from the cache.
</p>
<p>The inuit.css is very versatile, you can download (with bower) only the files that you needs, to serve the
    application without extra code.
    <br/>
    I've added my own code inside a folder named <em>ui</em>. I use the same structure than inuit, base.xxx for the base
    files (links, images, etc), objects.xxx, components.xxx, settings.xxx for my variables files (theses variables are
    great to design easily different design of a application/website), some tools and widths.
    <br/>
    The goal is to write OOCSS components, with BEM notation.
    <br/>
    So, we have a great base to write application/website by adding modules. <br/>
    For theses pages, the size of the css is only 3,6KB after compression.
</p>
<h2>Icons</h2>
<p>
    I use <a href="http://www.icomoon.io/">icomoon</a> to create a font with the icon used in the application. <br/>
    The .scss files is named components.icons-fonts and has the code for the 4 icons I use in the application.
    <br/>
    If I need more icons, I have to go the website to generate a new font file. The goal is always to have the smallest
    assets to serve, to give to the customers the best experience.
</p>

