<form action="">
    <legend>Edit Albert Andrée</legend>
    <ul class=form-fields>
        <li>
            <label for="lastname">Last name <abbr title="Required">*</abbr></label>
            <input type="text" id="lastname" name="lastname" class="text-input">
        </li>
        <li>
            <label for="firstname">First name <abbr title="Required">*</abbr></label>
            <input type="text" id="firstname" name="firstname" class="text-input" >
        </li>
        <li>
            <label for="email">Email <abbr title="Required">*</abbr></label>
            <input type="email" id="email" name="email" class="text-input" >
        </li>
        <li>
            <label for="address">Address <abbr title="Required">*</abbr></label>
            <input type="text" id="address" name="address" class="text-input" >
        </li>
        <li>
            <label for="city">City <abbr title="Required">*</abbr></label>
            <input type="text" id="city" name="city" class="text-input" >
        </li>
        <li>
            <label for="country">Country <abbr title="Required">*</abbr></label>
            <input type="text" id="country" name="country" class="text-input" >
        </li>

    </ul>
    <div class="form--actions">
        <button type="submit" class="btn btn--small">Edit</button>
    </div>
</form>