<div class="contact-wrapper">
    <div class="contact-list">
        <div class="box-border">
            <div class="layout">
                <div class="layout__item desk-three-quarters">
                    <form action="" class="contact-list__form">
                        <input type="search" class="search-form search-form__full" placeholder="filter contact" ng-model="searchText">
                    </form>
                </div><!--
                --><div class="layout__item desk-one-quarter">
                    <a href="#/new" class="btn btn--small"><i class="icon-user"></i> New</a>
                </div>
            </div>
        </div>
        <form action="">
            <ul class="list-ui">
                <li ng-repeat='contact in contacts | orderBy:"lastName" | filter:searchText' class="list-ui__item clearfix contact-list__item" ng-class="{active : $first}">
                    <a href="#{{contact.id}}" class="contact-list__link">
                        <div class="media media--small">
                            <img src="{{contact.smallImg}}" class="img-rounded media__img"
                                 alt="{{contact.firstName}}" height="75" width="75">
                            <div class="media__body">
                                <p>
                                    <span class="upper">{{contact.firstName}} <strong>{{contact.lastName}}</strong></span> <br>
                                    {{contact.title}} <br>
                                    {{contact.email}}
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
<!--            <h2 class="contact-list__letter">A</h2>
            <ul class="list-ui">
                <li class="list-ui__item clearfix contact-list__item contact-list__item--active">
                    <input type="checkbox" class="contact-list__checkbox">
                    <a href="#" class="contact-list__link">
                        <div class="media media--small">
                            <img src="http://lorempixel.com/75/75/people/1/" class="img-rounded media__img"
                                 alt="Jean Renoir" height="75" width="75">
                            <div class="media__body">
                                <p>
                                    <span class="upper">Albert <strong>André</strong></span> <br>
                                    Head of office <br>
                                    albert.andre@test.com
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-ui__item clearfix contact-list__item">
                    <input type="checkbox" class="contact-list__checkbox">
                    <a href="#" class="contact-list__link">
                        <div class="media media--small">
                            <div class="media__img">
                                <img src="http://lorempixel.com/75/75/people/2/" class="img-rounded" alt="Jean Renoir"
                                     height="75" width="75">
                            </div>
                            <div class="media__body">
                                <p>
                                    <span class="upper">Georges <strong>Arditti</strong></span> <br>
                                    Head of office <br>
                                    albert.andre@test.com
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <h2 class="contact-list__letter">B</h2>
            <ul class="list-ui">
                <li class="list-ui__item clearfix contact-list__item">
                    <input type="checkbox" class="contact-list__checkbox">
                    <a href="#" class="contact-list__link">
                        <div class="media media--small">
                            <img src="http://lorempixel.com/75/75/people/3/" class="img-rounded media__img"
                                 alt="Jean Renoir" height="75" width="75">
                            <div class="media__body">
                                <p>
                                    <span class="upper">Christian <strong>Babou</strong></span> <br>
                                    Head of office <br>
                                    albert.andre@test.com
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <h2 class="contact-list__letter">D</h2>
            <ul class="list-ui">
                <li class="list-ui__item clearfix contact-list__item ">
                    <input type="checkbox" class="contact-list__checkbox">
                    <a href="#" class="contact-list__link">
                        <div class="media media--small">
                            <img src="http://lorempixel.com/75/75/people/4/" class="img-rounded media__img"
                                 alt="Jean Renoir" height="75" width="75">
                            <div class="media__body">
                                <p>
                                    <span class="upper">Edgar <strong>Degas</strong></span> <br>
                                    Head of office <br>
                                    albert.andre@test.com
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-ui__item clearfix contact-list__item">
                    <input type="checkbox" class="contact-list__checkbox">
                    <a href="#" class="contact-list__link">
                        <div class="media media--small">
                            <div class="media__img">
                                <img src="http://lorempixel.com/75/75/people/5/" class="img-rounded" alt="Jean Renoir"
                                     height="75" width="75">
                            </div>
                            <div class="media__body">
                                <p>
                                    <span class="upper">Sonia <strong>Delaunay</strong></span> <br>
                                    Head of office <br>
                                    albert.andre@test.com
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>-->

        </form>
    </div>
    <div class="contact-detail" ng-repeat='contact in contacts | orderBy:"lastName" | limitTo:1'>
        <div class="box-border media media--rev">
            <img src="{{contact.largeImg}}" class="img-rounded media__img" alt="{{contact.firstName}} {{contact.lastName}}">
            <div class="media__body">
                <h1 class="mb0">{{contact.firstName}} {{contact.lastName}}</h1>
                <p class="mb-">{{contact.title}}</p>
                <button href="#" class="btn btn--small"><i class="icon-envelope2"></i> Mail</button>
                <a href="#/edit/{{contact.id}}" class="btn btn--small" data-ng-click="editContact({{contact.id}})">
                    <i class="icon-pencil"></i> Edit
                </a>
                <button href="#" class="btn btn--small" data-ng-click="deleteContact({{contact.id}})" >
                    <i class="icon-remove"></i> Delete
                </button>
            </div>
        </div>
        <p><strong>Email:</strong> <br> {{contact.email}}</p>
        <p><strong>Phone:</strong> <br> {{contact.phone}}</p>
        <address>
            <strong>Address:</strong> <br>
            {{contact.address}} <br>
            {{contact.zipCode}} {{contact.city}} <br>
            {{contact.country}}
        </address>
    </div>
</div>


