<div class="contact-wrapper">
    <div class="contact-list">
        <div class="box-border">
            <div class="layout">
                <div class="layout__item desk-three-quarters">
                    <form action="" class="contact-list__form">
                        <input type="search" class="search-form search-form__full" placeholder="filter contact" >
                    </form>
                </div><!--
                --><div class="layout__item desk-one-quarter">
                    <a href="#" class="btn btn--small"><i class="icon-user"></i> New</a>
                </div>
            </div>
        </div>
        <form action="">
            <h2 class="contact-list__letter">A</h2>
            <ul class="list-ui">
                <li class="list-ui__item clearfix contact-list__item contact-list__item--active">
                    <input type="checkbox" class="contact-list__checkbox">
                    <a href="#" class="contact-list__link">
                        <div class="media media--small">
                            <img src="http://lorempixel.com/75/75/people/1/" class="img-rounded media__img"
                                 alt="Jean Renoir" height="75" width="75">
                            <div class="media__body">
                                <p>
                                    <span class="upper">Albert <strong>André</strong></span> <br>
                                    Head of office <br>
                                    albert.andre@test.com
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-ui__item clearfix contact-list__item">
                    <input type="checkbox" class="contact-list__checkbox">
                    <a href="#" class="contact-list__link">
                        <div class="media media--small">
                            <div class="media__img">
                                <img src="http://lorempixel.com/75/75/people/2/" class="img-rounded" alt="Jean Renoir"
                                     height="75" width="75">
                            </div>
                            <div class="media__body">
                                <p>
                                    <span class="upper">Georges <strong>Arditti</strong></span> <br>
                                    Head of office <br>
                                    albert.andre@test.com
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <h2 class="contact-list__letter">B</h2>
            <ul class="list-ui">
                <li class="list-ui__item clearfix contact-list__item">
                    <input type="checkbox" class="contact-list__checkbox">
                    <a href="#" class="contact-list__link">
                        <div class="media media--small">
                            <img src="http://lorempixel.com/75/75/people/3/" class="img-rounded media__img"
                                 alt="Jean Renoir" height="75" width="75">
                            <div class="media__body">
                                <p>
                                    <span class="upper">Christian <strong>Babou</strong></span> <br>
                                    Head of office <br>
                                    albert.andre@test.com
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <h2 class="contact-list__letter">D</h2>
            <ul class="list-ui">
                <li class="list-ui__item clearfix contact-list__item ">
                    <input type="checkbox" class="contact-list__checkbox">
                    <a href="#" class="contact-list__link">
                        <div class="media media--small">
                            <img src="http://lorempixel.com/75/75/people/4/" class="img-rounded media__img"
                                 alt="Jean Renoir" height="75" width="75">
                            <div class="media__body">
                                <p>
                                    <span class="upper">Edgar <strong>Degas</strong></span> <br>
                                    Head of office <br>
                                    albert.andre@test.com
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-ui__item clearfix contact-list__item">
                    <input type="checkbox" class="contact-list__checkbox">
                    <a href="#" class="contact-list__link">
                        <div class="media media--small">
                            <div class="media__img">
                                <img src="http://lorempixel.com/75/75/people/5/" class="img-rounded" alt="Jean Renoir"
                                     height="75" width="75">
                            </div>
                            <div class="media__body">
                                <p>
                                    <span class="upper">Sonia <strong>Delaunay</strong></span> <br>
                                    Head of office <br>
                                    albert.andre@test.com
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>

        </form>
    </div>
    <div class="contact-detail">
        <div class="box-border media media--rev">
            <img src="http://lorempixel.com/125/125/people/1/" class="img-rounded media__img" alt="Jean Renoir">
            <div class="media__body">
                <h1 class="mb0">Albert Andrée</h1>
                <p class="mb-">Head of office</p>
                <button href="#" class="btn btn--small"><i class="icon-envelope2"></i> Mail</button>
                <button href="#" class="btn btn--small"><i class="icon-pencil"></i> Edit</button>
                <button href="#" class="btn btn--small"><i class="icon-remove"></i> Delete</button>
            </div>
        </div>
        <p><strong>Email:</strong> <br> albert.andre@test.com</p>
        <p><strong>Phone:</strong> <br> +44 567 907 679</p>
        <address>
            <strong>Address:</strong> <br>
            12 King Street <br>
            K2 London <br>
            U.K.
        </address>
    </div>
</div>


