<div class="layout">
    <div class="layout__item lap-and-up-one-half  desk-one-quarter">
        <h2>Angular</h2>
        <img src="assets/images/AngularJS-large.png" alt="angular logo" class="mb">
        <p><a href="https://angularjs.org/" class="btn" target="_blank">Getting started</a></p>
        <p>AngularJS is a toolset for building the framework most suited to your application development.</p>

    </div><!--
    --><div class="layout__item lap-and-up-one-half  desk-one-quarter">
        <h2>Inuit.css</h2>
        <img src="assets/images/logo-inuitcss.png" alt="logo inuit" class="mb">
        <p><a href="https://github.com/inuitcss/getting-started" class="btn" target="_blank">Getting started</a></p>
        <p>inuitcss is a powerful, Sass-based, BEM, OOCSS framework designed with scalability and performance in mind. It has a tiny footprint (the Starter Kit comes in at 1KB, gzipped), and can be scaled as much or as little as you need.</p>

    </div><!--
    --><div class="layout__item lap-and-up-one-half  desk-one-quarter">
        <h2>Grunt</h2>
        <img src="assets/images/grunt-logo.png" alt="grunt logo" class="mb">
        <p><a href="http://gruntjs.com/" class="btn" target="_blank">Getting started</a></p>
        <p>The JavaScript Task Runner</p>

    </div><!--
    --><div class="layout__item lap-and-up-one-half  desk-one-quarter">
        <h2>Yeoman</h2>
        <img src="assets/images/yeoman.png" alt="I'm Yeoman" class="mb">
        <p><a href="http://yeoman.io/" class="btn" target="_blank">Getting started</a></p>
        <p>The web's scaffolding tool for modern webapps</p>

    </div>
</div>

