<div class="layout">
    <div class="layout__item lap-and-up-one-half  desk-one-quarter">
        <h2>Angular</h2>
        <p>AngularJS is a toolset for building the framework most suited to your application development.</p>
    </div><!--
    --><div class="layout__item lap-and-up-one-half  desk-one-quarter">
        <h2>Inuit.css</h2>
    </div><!--
    --><div class="layout__item lap-and-up-one-half  desk-one-quarter">
        <h2>Grunt</h2>
    </div><!--
    --><div class="layout__item lap-and-up-one-half  desk-one-quarter">
        <h2>Yeoman</h2>
        <img src="images/yeoman.png" alt="I'm Yeoman">
    </div>
</div>

