.site-footer {
  background: #444;
  padding: $inuit-base-spacing-unit--small 0;
  border-top: 1px solid #ccc;
  color: #fff;
/*  @include media-query(lap-and-up) {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }*/
}
