@include media-query(desk) {
  .contact-wrapper {
    position:relative;
  }

  .contact-list {
    position: absolute;
    left: 0;
    top: 0;
    width: 33.333%;
    height: 100%;
    overflow-y:scroll;
  }

  .contact-detail {
    margin-left: 33.333%;
    padding-left: $inuit-base-spacing-unit;
    min-height: 20*$inuit-base-spacing-unit - 4;
  }
}

.contact-list__form {
  margin-bottom: $inuit-base-spacing-unit--small;
  @include media-query(lap-and-up) {
    margin-bottom: 0;
  }
}

.contact-list__letter {
  border-bottom: 2px solid $color-headings;
}

.contact-list__item {
  transition: all 0.2s;
  &:hover,
  &:active,
  &.contact-list__item--active {
    background: $color-gray-ui;
    border-radius: 4px;
  }
}

.contact-list__checkbox {
  float: left;
  margin-right: $inuit-base-spacing-unit--small
}

.contact-list__link {
  color: $inuit-base-text-color;
  display: block;
  overflow: hidden;
  &:hover {
    color: $inuit-base-text-color;
  }
}
