$baskerville: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
$bigCalson: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
$bodoni: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
$antiqua: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
$cambria: Cambria, Georgia, serif;
$garamond: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
$calibri: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$helveticaLight: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$monospace: 'Inconsolata', 'DejaVu Sans Mono', Menlo, Monaco, Consolas, Courier, monospace;

